.navbar-brand-1{
  color: aliceblue;
  font-size: 2.5em;
  font-family: calibri;
}
input.ng-invalid.ng-touched{
 border: red px solid;
}
small{
color: red;
}
.button-color {
  background-color: #2f5597;
  color: aliceblue;
 }

.button-color:hover{
  background-color:  #2f5597;
}
